@model ViewEditFundraiserViewModel

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("ViewEditFundraiserPageSetupInProgress");
}

<div class="n3o-modalsItem modall active" id="confirmAccount-modal">
    <div class="n3o-auth__wrapper" style="margin: auto; width: 90vw;">
        <div class="n3o-auth">
            <div class="n3o-auth__title">
                <h2 class="n3o-h2">@PartialText.Get("Please Wait...")</h2>

                <p class="n3o-p" id="status-message">@PartialText.Get("Page setup in progress, you will be able to view or edit the page shortly.")</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("click", handler, true);

    function handler(e) {
        e.stopPropagation();
        e.preventDefault();
    }

    function getQueryParameter(param) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
    }

    function setQueryParameter(param, value) {
        const url = new URL(window.location.href);
        url.searchParams.set(param, value);
        window.location.href = url.toString();
    }

    const refreshCount = parseInt(getQueryParameter('rc')) || 0;

    if (refreshCount === 1) {
        document.getElementById('status-message').textContent = "@PartialText.Get("Hang tight, almost there.")";
    } else if (refreshCount === 2) {
        document.getElementById('status-message').textContent = "@PartialText.Get("We are putting the finishing touches.")";
    } else if (refreshCount >= 3) {
        document.getElementById('status-message').textContent = "@PartialText.Get("Any moment now...")";
    }

    setInterval(() => {
        setQueryParameter('rc', refreshCount + 1);
    }, 10000);
</script>
    