@model N3O.Umbraco.Accounts.Models.FieldSettings
<div class="input__outer">
    <p>@Html.Raw(Model.Required ? $"{Model.Label} <span> *</span>" : $"{Model.Label}")</p>
    <div class="input">
        <input type="@Model.Type"
               name="@Model.Path"
               placeholder="@Model.Label"
               value=""/>
        <span id ="@Model.Path" class="input-validation-error"></span>
    </div>
</div>
