@model ICrowdfunderViewModel

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingCrowdfunderContributions");
}

<div class="donation__wrapper">
    <div class="donation">
        <div class="donation__head">
            <div class="donation__head-tab tabBtn active" data-tab="#tab-1">
                <h4>@PartialText.Get("Latest Donations")</h4>
            </div>
        </div>
        
        <div class="donation__list tabEvent active" id="tab-1">
            @if (Model.Contributions.None()) {
                <div class="donation__empty">
                    <p>@PartialText.Get("Be the first to donate!")</p>
                </div>
            } else {
                @foreach (var contribution in Model.Contributions.Take(10)) {
                    <div class="donationItem">
                        <div class="donationItem__avatar">
                            <img src="@contribution.AvatarLink" alt=""/>
                        </div>
                        
                        <div class="donationItem__row">
                            <div class="donationItem__name">
                                <div class="large">@contribution.Name</div>
                                <div class="subtle">@contribution.Comment</div>
                            </div>
                            
                            <div class="donationItem__info big">
                                <div class="subtle">
                                    <b class="large">@Model.Formatter.Number.FormatMoney(contribution.Value) </b>
                                    
                                    @if (!contribution.TaxReliefValue.IsZero()) {
                                        <text>+ @Model.Formatter.Number.FormatMoney(contribution.TaxReliefValue)</text>
                                    }
                                </div>
                                
                                <div class="subtle">@contribution.DonatedAt</div>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.Contributions.Count > 10) {
                    <div class="donation__foot">
                        <button class="button secondary modallBtn" data-mod="#all-donations">
                            @PartialText.Get("View All")
                        </button>
                    </div>
                }
            }
        </div>
        
        @if (Model.CrowdfunderType == CrowdfunderTypes.Campaign) {
            @*TODO* Add the tab above also *@
        }
    </div>
</div>