@model ICrowdfunderViewModel

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingCrowdfunderContributions");
}

<div class="n3o-donation__wrapper">
    <div class="n3o-donation">
        <div class="n3o-donation__head">
            <div class="n3o-donation__head-tab n3o-tabBtn active" 
                 data-tab="#tab-1"
                 @(Model.CrowdfunderType == CrowdfunderTypes.Fundraiser ? "style='width: 100%;'" : "")>
                <h4 class="n3o-h4">@PartialText.Get("Latest Donations")</h4>
            </div>
            
            @if (Model.CrowdfunderType == CrowdfunderTypes.Campaign) {
                <div class="n3o-donation__head-tab n3o-tabBtn" data-tab="#tab-2">
                    <h4 class="n3o-h4">@PartialText.Get("Fundraisers")<span> @(((ViewCampaignViewModel) Model).Fundraisers.Count) </span></h4>
                </div>
            }
        </div>

        <div class="n3o-donation__list n3o-tabEvent active" id="tab-1">
            @if (Model.Contributions.None()) {
                <div class="n3o-donation__empty">
                    <p class="n3o-p">@PartialText.Get("Be the first to donate!")</p>
                </div>
            } else {
                @foreach (var contribution in Model.Contributions.Take(10)) {
                    <div class="n3o-donationItem">
                        <div class="n3o-donationItem__avatar">
                            <img src="@contribution.AvatarLink" alt=""/>
                        </div>
                        
                        <div class="n3o-donationItem__row">
                            <div class="n3o-donationItem__name">
                                <div class="n3o-large">@(contribution.IsAnonymous ? PartialText.Get("Anonymous") : contribution.Name)</div>
                                <div class="n3o-subtle">@contribution.Comment</div>
                            </div>
                            
                            <div class="n3o-donationItem__info big">
                                <div class="n3o-subtle">
                                    <b class="n3o-large">@Model.Formatter.Number.FormatMoney(contribution.Value) </b>
                                    
                                    @if (!contribution.TaxReliefValue.IsZero()) {
                                        <text>+ @Model.Formatter.Number.FormatMoney(contribution.TaxReliefValue)</text>
                                    }
                                </div>
                                
                                <div class="n3o-subtle">@contribution.DonatedAt</div>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.Contributions.Count > 10) {
                    <div class="n3o-donation__foot">
                        <button class="n3o-button secondary modallBtn" data-mod="#all-donations">
                            @PartialText.Get("View All")
                        </button>
                    </div>
                }
            }
        </div>
        
        @if (Model.CrowdfunderType == CrowdfunderTypes.Campaign) {
            <div class="n3o-donation__list fund n3o-tabEvent" id="tab-2">
                @foreach (var fundraiser in ((ViewCampaignViewModel) Model).Fundraisers.OrEmpty()) {
                    <div class="n3o-donationItem">
                        <div class="n3o-donationItem__avatar">
                            <img src="@fundraiser.OwnerAvatarLink" alt="">
                        </div>
                        
                        <div class="n3o-donationItem__row">
                            <div class="n3o-donationItem__name">
                                <div class="n3o-large">@fundraiser.Name</div>
                                <div class="n3o-subtle">@fundraiser.Subtitle</div>
                            </div>
                            
                            <div class="n3o-donationItem__info">
                                <div class="n3o-large">
                                    <p class="n3o-p">@PartialText.Get("Raised")</p>
                                    <b class="n3o-p"> @Model.Formatter.Number.FormatMoney(fundraiser.ContributionsTotal) </b>
                                </div>
                                
                                <div class="n3o-subtle">
                                    @PartialText.Get("of")
                                    
                                    <b> @Model.Formatter.Number.FormatMoney(fundraiser.GoalsTotal) </b>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>