@model ICrowdfunderViewModel

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingCrowdfunderDonationForm");
}

<div class="n3o-cta__wrapper" data-crowdfunder-id="@Model.Content.Key" data-crowdfunder-type="@Model.CrowdfunderType.Id">
    <div class="n3o-cta" id="showMoreWrapper">
        <div class="n3o-cta__title start">
            <h2 class="n3o-h2">@PartialText.Get("Contribute to this page")</h2>

            @if (Model.Goals.Count > 1) {
                <p class="n3o-p">@PartialText.Get("Select which project(s) you would like to support.")</p>
            }
        </div>
        
        @foreach (var goal in Model.Goals) {
            <input type="hidden" name="goal" value="@goal.Id"/>
            
            <div class="n3o-ctaFund showMore @if(goal.PriceHandles.Count > 2 && Model.Goals.Count > 1){<text>big</text>}">
                <h4 class="n3o-h4" id="goal-name-@goal.Id">@goal.Name</h4>

                @foreach (var priceHandle in goal.PriceHandles) {
                    <div class="n3o-ctaFund__item">
                        <input type="checkbox" name="goal-price-@goal.Id"
                               @foreach (var currencyAmountValue in priceHandle.CurrencyAmountValues) {
                                   @Html.Raw($"data-goal-amount-{currencyAmountValue.Key.Code.ToLower()}=\"{currencyAmountValue.Value.Amount}\" ")
                               }
                               
                               data-goal-amount="@priceHandle.Amount.Amount" />
        
                        <div class="n3o-ctaFund__item-inner">
                            @{
                                var priceHandleAmount = priceHandle.CurrencyAmountValues[Model.SiteCurrency];
                            }
                            
                            <h3 class="n3o-h3">@Model.Formatter.Number.FormatMoney(priceHandleAmount)</h3>
                            
                            <hr/>

                            <p class="n3o-p n3o-subtle">@priceHandle.Description</p>

                            <svg>
                                <use xlink:href="#checkIcon"></use>
                            </svg>
                        </div>
                    </div>
                }
                
                <div class="n3o-ctaAmount">
                    <input type="checkbox" name="custom-goal-@goal.Id"/>
                    
                    <div class="n3o-ctaAmount__inner">
                        <div class="n3o-subtle">@PartialText.Get("Custom Amount")</div>
                        
                        <div class="n3o-cta__input">
                            <label class="n3o-large n3o-currency-label" for="goal-custom-amount-symbol-@goal.Id"> @Model.SiteCurrency.Symbol </label>
                            
                            <input id="goal-custom-amount-@goal.Id" readonly type="number" />
                            
                            <div class="n3o-cta__input-select">
                                @*TODO currency*@
                                <select class="n3o-currency-picker" name="currency" id="currency-@goal.Id">
                                    @foreach (var currency in Model.Currencies) {
                                        <!option value="@currency.Id" data-currency data-symbol="@currency.Symbol" @if (currency == Model.SiteCurrency) { <text>selected="selected"</text> }>@currency.Code</!option>
                                    }
                                </select>
                            </div>
                        </div>
                        <svg>
                            <use xlink:href="#checkIcon"></use>
                        </svg>
                    </div>
                </div>
                @if (goal.PriceHandles.Count > 2 && Model.Goals.Count > 1) {
            <div class="n3o-large showMoreBtn">@PartialText.Get("More Options")</div>
            }
        </div>
        }
        <div class="n3o-cta__foot">
            <button type="button" id="submit-donation" class="n3o-button primary submit3" disabled>
                @PartialText.Get("Donate")
                <span></span>
            </button>
        </div>
    </div>

    <!-- This content section is only visible on mobile -->
    <div class="n3o-campaign n3o-mobile-visible">
        <div class="n3o-campaign__content">
            @if (Model.EditMode()) {
                <div class="n3o-campaign__edit modallBtn" n3o-editor="@(Model, PropertyTypes.Raw, nameof(Model.Content.Body))">
                    <svg class="n3o-sm">
                        <use xlink:href="#editIcon"></use>
                    </svg>

                    <b>@PartialText.Get("Edit")</b>
                </div>
            }

            <div class="n3o-campaign__title big">
                <div id="about-description">
                    @Html.Raw(Model.Content.Body)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const n3o_cdf_donationCart = (() => {
        let n3oSelectedCurrency = '@Model.SiteCurrency.Code.ToLowerInvariant()';

        const submitCrowdfundingCartReq = async req => {
            try {
                const response = await fetch('/umbraco/api/crowdfunding/addToCart', {
                    method: "POST",
                    body: JSON.stringify(req),
                    headers: {
                        "Content-Type": "application/json"
                    }
                });

                if (response.ok) {
                    window.themeConfig.showCart();
                    
                    hideDonationSummaryModal();
                    
                    window.themeConfig.refreshCartCount();
                } else {
                    const data = await response.json();
                    window.themeConfig.showError(data.errors?.map(x=>x.error))
                }
            }
            catch (e) {
                showError(e);
            }
        }

        const changeCurrency = async req => {
            try {
                const response = await fetch(`/umbraco/api/giving/currency/${req}`, {
                    method: "POST"
                });

                if (response.ok) {
                    return true;
                } else {
                    const data = await response.json();
                    window.themeConfig.showError(data.errors?.map(x=>x.error))
                    
                    return false;
                }
            } catch (e) {
                showError(e);
            }
        }

        function handleDonationReq() {
            let crowdfundingCartReq = {};

            const items = [];
            const goalInputs = document.querySelectorAll("input[name='goal']")

            goalInputs.forEach(input => {
                const goalId = input.value;

                const crowdfundingCartItemReq = {};
                const goalValue = {};

                const goalPriceElement = document.querySelector(`input[name='goal-price-${goalId}']:checked`);
                const customPriceElement = document.querySelector(`input[name='custom-goal-${goalId}']:checked`);
                const hasAmount = goalPriceElement !== null || customPriceElement !== null;

                if (!hasAmount) {
                    return
                }

                if (goalPriceElement != null) {
                    goalValue.amount = goalPriceElement.dataset[`goalAmount${capitalizeFirstLetter(n3oSelectedCurrency)}`];
                } else if (customPriceElement != null) {
                    goalValue.amount = document.querySelector(`#goal-custom-amount-${goalId}`).value;
                }

                goalValue.currency = document.querySelector(`#currency-${goalId}`).value;

                crowdfundingCartItemReq.goalId = goalId;
                crowdfundingCartItemReq.value = goalValue;

                items.push(crowdfundingCartItemReq);
            });

            let wrapperElement = document.querySelector('[data-crowdfunder-id]');

            let crowdfunderData = {
                crowdfunderId: wrapperElement.dataset.crowdfunderId,
                comment: document.querySelector('#donors-comment')?.value,
                anonymous: document.querySelector('#donor-is-anonymous')?.checked
            };

            crowdfundingCartReq.crowdfunding = crowdfunderData;
            crowdfundingCartReq.type = wrapperElement.dataset.crowdfunderType;
            crowdfundingCartReq.items = items;

            if (items.length) {
                submitCrowdfundingCartReq(crowdfundingCartReq)
            }
        }

        function handleDonationSummaryModal() {
            const items = [];
            const goalInputs = document.querySelectorAll("input[name='goal']")

            goalInputs.forEach(input => {
                const goalId = input.value;

                const goalName = document.querySelector(`#goal-name-${goalId}`).textContent.trim();

                const goalPriceHandleElement = document.querySelector(`input[name='goal-price-${goalId}']:checked`);
                const customPriceElement = document.querySelector(`input[name='custom-goal-${goalId}']:checked`);
                const hasAmount = goalPriceHandleElement !== null || customPriceElement !== null;

                if (!hasAmount) {
                    return;
                }

                if (goalPriceHandleElement !== null) {
                    const ctaFundItemInner = goalPriceHandleElement.nextElementSibling;
                    let priceHandleAmount = ctaFundItemInner.querySelector('h3').textContent;
                    const priceHandleDescription = ctaFundItemInner.querySelector('p').textContent;

                    let priceHandleObj = {
                        title: goalName,
                        amount: priceHandleAmount.trim(),
                        description: priceHandleDescription.trim()
                    };

                    items.push(priceHandleObj);
                }

                if (customPriceElement !== null) {
                    let amountElem = document.querySelector(`#goal-custom-amount-${goalId}`);
                    let currencyElem =  amountElem.previousElementSibling;

                    let price = currencyElem.textContent.trim() + ' ' + amountElem.value;

                    let priceHandleObj = {
                        title: goalName,
                        amount: price,
                        description: window.themeConfig.text.crowdfunding.customAmountDescription
                    };

                    items.push(priceHandleObj);
                }
            });

            if (items.length) {
                const modal = document.getElementById('donationSummary-modal');

                const existingItems = modal.querySelectorAll('.n3o-ctaFund');
                existingItems.forEach(item => item.remove());

                const insertAfterElement = modal.querySelector('.n3o-cta__title.start');

                items.reverse();

                items.forEach(item => {
                    const fundBlock = createFundBlock(item);

                    insertAfterElement.insertAdjacentElement('afterend', fundBlock);
                });

                showDonationSummaryModal();
            }
        }

        function handleCurrencySelection() {
            const currencyPickers = document.querySelectorAll('.n3o-currency-picker');

            currencyPickers.forEach(function(picker) {
                picker.addEventListener('change', function(event) {
                    let selectedOption = event.target.options[event.target.selectedIndex];
                    let currencyId = selectedOption.value;
                    let currencySymbol = selectedOption.getAttribute('data-symbol');

                    let success = changeCurrency(currencyId);

                    if (!success) {
                        return;
                    }

                    n3oSelectedCurrency = currencyId;

                    let currencyLabels = document.querySelectorAll('.n3o-currency-label');

                    currencyLabels.forEach(function(label) {
                        label.textContent = currencySymbol;
                    });

                    let goalPriceHandles = document.querySelectorAll('.n3o-ctaFund__item');
                    let goalPriceCustomAmounts = document.querySelectorAll('.n3o-ctaAmount');

                    let totalSubmitAmount = 0;

                    goalPriceHandles.forEach(function (priceHandle) {
                        let inputElement = priceHandle.querySelector('input');
                        let goalAmount = inputElement.getAttribute(`data-goal-amount-${n3oSelectedCurrency}`);
                        let h3Element= priceHandle.querySelector('h3');

                        if (inputElement.checked) {
                            totalSubmitAmount += Number(goalAmount);
                        }

                        h3Element.textContent = window.themeConfig.formatter.number.formatMoney(goalAmount, currencyId);
                    });

                    goalPriceCustomAmounts.forEach(function (customAmount) {
                        let checkboxElement = customAmount.querySelector('[name^="custom-goal-"]');

                        let inputElement = customAmount.querySelector('[id^="goal-custom-amount-"]');
                        let goalAmount = inputElement.value;

                        if (checkboxElement.checked) {
                            totalSubmitAmount += Number(goalAmount);
                        }
                    })

                    let submitDonationButtonSpan = document.getElementById('submit-donation').querySelector("span");

                    submitDonationButtonSpan.innerHTML = currencySymbol + totalSubmitAmount;

                    currencyPickers.forEach( otherPicker => {
                        otherPicker.value = n3oSelectedCurrency;
                    });
                });
            });
        }

        function createFundBlock(item) {
            // Create the outer div with class ctaFund
            const ctaFundDiv = document.createElement('div');
            ctaFundDiv.classList.add('n3o-ctaFund');

            // Create the h4 title
            const h4 = document.createElement('h4');
            h4.classList.add('n3o-h4');
            h4.textContent = item.title;
            ctaFundDiv.appendChild(h4);

            // Create the inner div structure
            const ctaFundItemDiv = document.createElement('div');
            ctaFundItemDiv.classList.add('n3o-ctaFund__item');
            const input = document.createElement('input');
            input.type = 'radio';
            input.name = 'fundOption'; // Ensure all radios have the same name for exclusive selection
            ctaFundItemDiv.appendChild(input);

            const innerDiv = document.createElement('div');
            innerDiv.classList.add('n3o-ctaFund__item-inner', 'uniq');

            const h3 = document.createElement('h3');
            h3.classList.add('n3o-h3');
            h3.textContent = item.amount;
            innerDiv.appendChild(h3);

            const hr = document.createElement('hr');
            innerDiv.appendChild(hr);

            const p = document.createElement('p');
            p.classList.add('n3o-p');
            p.classList.add('n3o-subtle');
            p.textContent = item.description;
            innerDiv.appendChild(p);

            ctaFundItemDiv.appendChild(innerDiv);
            ctaFundDiv.appendChild(ctaFundItemDiv);

            return ctaFundDiv;
        }

        function capitalizeFirstLetter(str) {
            if (!str) return str;
            
            return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
        }

        function showError(e) {
            window.themeConfig.showError([
                'Something went wrong, please try again later or contact the support team.',
                e.message || 'No specific error message.'
            ])
        }

        return {
            handleDonationReq,
            handleDonationSummaryModal,
            handleCurrencySelection,
            createFundBlock
        }
    })();

    document.getElementById('submit-donation')?.addEventListener?.('click', n3o_cdf_donationCart.handleDonationSummaryModal);

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('add-donation-to-cart')?.addEventListener?.('click', n3o_cdf_donationCart.handleDonationReq);
    });

    n3o_cdf_donationCart.handleCurrencySelection();

    const showDonationSummaryModal = () => {
        document.getElementById('donationSummary-modal')?.classList.add("active");
    };

    const hideDonationSummaryModal = () => {
        document.getElementById('donationSummary-modal')?.classList.remove("active");
        document.querySelector('body').classList.remove('active')
    };
</script>