@model ICrowdfunderViewModel

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingCrowdfunderDonationForm");
}

<div class="cta__wrapper" data-crowdfunder-id="@Model.Content.Key" data-crowdfunder-type="@Model.CrowdfunderType.Id">
    <div class="cta" id="showMoreWrapper">
        <div class="cta__title start">
            <h2>@PartialText.Get("Contribute to this page")</h2>

            @if (Model.Goals.Count > 1) {
                <p>@PartialText.Get("Select which project(s) you would like to support.")</p>
            }
        </div>
        
        @foreach (var goal in Model.Goals) {
            <input type="hidden" name="goal" value="@goal.Id"/>
            
            <div class="ctaFund showMore big">
                <h4 id="goal-name-@goal.Id">@goal.Name</h4>

                @foreach (var priceHandle in goal.PriceHandles) {
                    <div class="ctaFund__item">
                        <input type="checkbox" name="goal-price-@goal.Id" data-goal-amount="@priceHandle.Amount.Amount"/>
        
                        <div class="ctaFund__item-inner">
                            @*TODO currency*@
                            <h3>@Model.Formatter.Number.FormatMoney(priceHandle.Amount)</h3>

                            <hr/>

                            <p class="subtle">@priceHandle.Description</p>

                            <svg>
                                <use xlink:href="#checkIcon"></use>
                            </svg>
                        </div>
                    </div>
                }
                
                <div class="ctaAmount">
                    <input type="checkbox" name="custom-goal-@goal.Id"/>
                    
                    <div class="ctaAmount__inner">
                        <div class="subtle">@PartialText.Get("Custom Amount")</div>
                        
                        <div class="cta__input">
                            <label class="large" for="goal-custom-amount-symbol-@goal.Id"> £ </label>
                            
                            <input id="goal-custom-amount-@goal.Id" disabled type="number" />
                            
                            <div class="cta__input-select">
                                @*TODO currency*@
                                <select name="currency" id="currency-@goal.Id">
                                    <option value="gbp">GBP</option>
                                    <option value="usd">USD</option>
                                </select>
                            </div>
                        </div>
                        <svg>
                            <use xlink:href="#checkIcon"></use>
                        </svg>
                    </div>
                </div>

                <div class="large showMoreBtn">@PartialText.Get("More Options")</div>
            </div>
        }
        <div class="cta__foot">
            <button type="button" id="submit-donation" class="button primary submit3" disabled>
                @PartialText.Get("Donate")
                <span></span>
            </button>
        </div>
    </div>
</div>

<script>
    const n3o_cdf_donationCart = (() => {
        const submitCrowdfundingCartReq = async req => {
            try {
                const response = await fetch('/umbraco/api/crowdfunding/addToCart', {
                    method: "POST",
                    body: JSON.stringify(req),
                    headers: {
                        "Content-Type": "application/json"
                    }
                });

                if (response.ok) {
                    window.themeConfig.showCart();
                    
                    hideDonationSummaryModal();
                } else {
                    window.themeConfig.showError(response.errors)
                }
            }
            catch (e) {
                window.themeConfig.showError(e.errors)
            }
        }

        function handleDonationReq() {
            let contributionReq = {};

            const items = [];
            const goalInputs = document.querySelectorAll("input[name='goal']")

            goalInputs.forEach(input => {
                const goalId = input.value;

                const contributionItemReq = {};
                const goalValue = {};

                const goalPriceElement = document.querySelector(`input[name='goal-price-${goalId}']`);
                const customPriceElement = document.querySelector(`input[name='custom-goal-${goalId}']`);

                const hasAmount = goalPriceElement.checked || customPriceElement.checked;

                if (!hasAmount) {
                    return
                }

                if (goalPriceElement.checked) {
                    goalValue.amount = goalPriceElement.dataset;
                } else if (customPriceElement.checked) {
                    goalValue.amount = document.querySelector(`#goal-custom-amount-${goalId}`).value;
                }

                goalValue.currency = document.querySelector(`#currency-${goalId}`).value;
                
                contributionItemReq.goalId = goalId;
                contributionItemReq.value = goalValue;

                items.push(contributionItemReq);
            });

            let wrapperElement = document.querySelector('[data-crowdfunder-id]');

            let crowdfunderData = {
                crowdfunderId: wrapperElement.dataset.crowdfunderId,
                comment: document.querySelector('#donors-comment')?.value,
                anonymous: document.querySelector('#donor-is-anonymous')?.checked
            };

            contributionReq.crowdfunding = crowdfunderData;
            contributionReq.type = wrapperElement.dataset.crowdfunderType;
            contributionReq.items = items;

            if (items.length) {
                submitCrowdfundingCartReq(contributionReq)
            }
        }

        function handleDonationSummaryModal() {
            const items = [];
            const goalInputs = document.querySelectorAll("input[name='goal']")

            goalInputs.forEach(input => {
                const goalId = input.value;

                const goalName = document.querySelector(`#goal-name-${goalId}`).textContent.trim();

                const goalPriceHandleElement = document.querySelector(`input[name='goal-price-${goalId}']:checked`);
                const customPriceElement = document.querySelector(`input[name='custom-goal-${goalId}']:checked`);
                const hasAmount = goalPriceHandleElement !== null || customPriceElement !== null;

                if (!hasAmount) {
                    return;
                }

                if (goalPriceHandleElement !== null) {
                    const ctaFundItemInner = goalPriceHandleElement.nextElementSibling;
                    let priceHandleAmount = ctaFundItemInner.querySelector('h3').textContent;
                    const priceHandleDescription = ctaFundItemInner.querySelector('p').textContent;

                    let priceHandleObj = {
                        title: goalName,
                        amount: priceHandleAmount.trim(),
                        description: priceHandleDescription.trim()
                    };

                    items.push(priceHandleObj);
                }

                if (customPriceElement !== null) {
                    let amountElem = document.querySelector(`#goal-custom-amount-${goalId}`);
                    let currencyElem =  amountElem.previousElementSibling;

                    let price = currencyElem.textContent.trim() + ' ' + amountElem.value;

                    let priceHandleObj = {
                        title: goalName,
                        amount: price,
                        description: '@PartialText.Get("Your custom amount")'
                    };

                    items.push(priceHandleObj);
                }
            });

            if (items.length) {
                const modal = document.getElementById('donationSummary-modal');

                const existingItems = modal.querySelectorAll('.ctaFund');
                existingItems.forEach(item => item.remove());

                const insertAfterElement = modal.querySelector('.cta__title.start');

                items.reverse();

                items.forEach(item => {
                    const fundBlock = createFundBlock(item);
                    
                    insertAfterElement.insertAdjacentElement('afterend', fundBlock);
                });

                showDonationSummaryModal();
            }
        }

        function createFundBlock(item) {
            // Create the outer div with class ctaFund
            const ctaFundDiv = document.createElement('div');
            ctaFundDiv.classList.add('ctaFund');

            // Create the h4 title
            const h4 = document.createElement('h4');
            h4.textContent = item.title;
            ctaFundDiv.appendChild(h4);

            // Create the inner div structure
            const ctaFundItemDiv = document.createElement('div');
            ctaFundItemDiv.classList.add('ctaFund__item');
            const input = document.createElement('input');
            input.type = 'radio';
            input.name = 'fundOption'; // Ensure all radios have the same name for exclusive selection
            ctaFundItemDiv.appendChild(input);

            const innerDiv = document.createElement('div');
            innerDiv.classList.add('ctaFund__item-inner', 'uniq');

            const h3 = document.createElement('h3');
            h3.textContent = item.amount;
            innerDiv.appendChild(h3);

            const hr = document.createElement('hr');
            innerDiv.appendChild(hr);

            const p = document.createElement('p');
            p.classList.add('subtle');
            p.textContent = item.description;
            innerDiv.appendChild(p);

            ctaFundItemDiv.appendChild(innerDiv);
            ctaFundDiv.appendChild(ctaFundItemDiv);

            return ctaFundDiv;
        }

        return {
            handleDonationReq,
            handleDonationSummaryModal,
            createFundBlock
        }
    })();

    document.getElementById('submit-donation')?.addEventListener?.('click', n3o_cdf_donationCart.handleDonationSummaryModal);

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('add-donation-to-cart')?.addEventListener?.('click', n3o_cdf_donationCart.handleDonationReq);
    });

    const showDonationSummaryModal = () => {
        document.getElementById('donationSummary-modal')?.classList.add("active");
    };

    const hideDonationSummaryModal = () => {
        document.getElementById('donationSummary-modal')?.classList.remove("active");
    };
</script>