@model ICrowdfunderViewModel

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingCrowdfunderOwnerInfo");
}

<div class="n3o-auto__container">
    <div class="n3o-hero__inner cov">
        <div class="n3o-account sm">
            <div class="n3o-account__main">
                <div class="n3o-account__info">
                    <div class="n3o-account__info-avatar">
                        <img src="@Model.OwnerInfo.ProfilePicture" alt="">
                    </div>
                    
                    <div class="n3o-account__info-name">
                        <div class="n3o-large">
                            @Model.OwnerInfo.Name
                        </div>

                        <p class="n3o-subtle">
                            @if (Model.Page is ViewEditFundraiserPage) {
                                <a class='brand-link' href='@Model.Link(x => ViewEditFundraiserPage.Url(x, Model.Content.Key))' target='_blank'>@Model.OwnerInfo.Strapline</a> 
                            } else {
                                <text>@Model.OwnerInfo.Strapline</text>
                            }
                        </p>
                    </div>
                </div>
                
                <div class="n3o-account__buttons">
                    @if (Model.Page is ViewEditFundraiserPage) {
                        <a href="@Model.Link(x => ViewEditFundraiserPage.Url(x, Model.Content.Key))" class="n3o-button secondary">
                            @PartialText.Get("Fundraise For Us")
                        </a>
                    }
                    
                    <button type="button" class="n3o-button secondary modallBtn" data-mod="#share-modal">
                        <svg>
                            <use xlink:href="#shareIcon"></use>
                        </svg>
                        
                        @PartialText.Get("Share")
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>