@model ICrowdfunderViewModel

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingCrowdfunderOwnerInfo");
}

<div class="n3o-auto__container">
    <div class="n3o-hero__inner cov">
        @if (Model.EditMode()) {
            <div class="n3o-campaign__edit modallBtn" n3o-editor="@(Model, PropertyTypes.Cropper, nameof(Model.Content.BackgroundImage))">
                <svg>
                    <use xlink:href="#imagePlus"></use>
                </svg>
                
                <b>@PartialText.Get("Edit Cover Image")</b>
            </div>
        }
        
        <div class="n3o-account sm">
            <div class="n3o-account__main">
                <div class="n3o-account__info">
                    <div class="n3o-account__info-avatar">
                        <img src="@Model.OwnerInfo.ProfilePicture" alt="">
                    </div>
                    
                    <div class="n3o-account__info-name">
                        <div class="n3o-large">
                            @Model.OwnerInfo.Name
                        </div>

                        <p class="n3o-subtle">
                            @Model.OwnerInfo.Strapline
                        </p>
                    </div>
                </div>
                
                <div class="n3o-account__buttons">
                    <button type="button" class="n3o-button secondary modallBtn" data-mod="#share-modal">
                        <svg>
                            <use xlink:href="#shareIcon"></use>
                        </svg>
                        
                        @PartialText.Get("Share")
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>