@using N3O.Umbraco.Templates
@using Umbraco.Extensions
@model N3O.Umbraco.CrowdFunding.Models.IFundraiserOrCampaignViewModel

@inject IPartialText PartialText

@{
PartialText.SetPartialName("Latest Donations");
}

<div class="modalsItem modall" id="all-donations">
    <div class="donation">
        <div class="donation__close modallClose" data-modal="all-donations"></div>
        <div class="donation__title">
            <h2>
                @PartialText.Get("Donations")
                <span>@Model.Contributions.Count()</span>
            </h2>
        </div>
        <div class="donation__list mod active">

            @foreach (var donation in Model.Contributions) {
            <div class="donationItem">
                <div class="donationItem__avatar">
                    <img src="@donation.AvatarLink" alt=""/>
                </div>
                <div class="donationItem__row">
                    <div class="donationItem__name">
                        <div class="large">@(donation.IsAnonymous ? "Anonymous" : donation.Name)</div>
                        <div class="subtle">@donation.Comment</div>
                    </div>
                    <div class="donationItem__info">
                        <b class="large"> @($"{donation.Amount.Currency.Symbol}{donation.Amount.Amount.Normalize()}") </b>
                        <div class="subtle">@donation.DonatedAt</div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>