@model AccountsViewModel

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingAccount");
}

@foreach (var field in Model.DataEntrySettings.Name.GetFieldSettings().Where(x => x.Visible)) {
    @Html.CrowdfundingPartial($"/Views/Partials/Crowdfunding/Shared/Fields/{field.Type}.cshtml", field)
}

@Html.CrowdfundingPartial("~/Views/Partials/Crowdfunding/Shared/Fields/Phone.cshtml", Model.DataEntrySettings.Phone)

@Html.CrowdfundingPartial("~/Views/Partials/Crowdfunding/Shared/Fields/Text.cshtml", Model.DataEntrySettings.Email)

<div class="newAccount__address">
    <h4>Address</h4>
    
    @foreach (var field in Model.DataEntrySettings.Address.GetFieldSettings().Where(x => x.Visible)) {
        @await Html.PartialAsync($"~/Views/Partials/Crowdfunding/Shared/Fields/{field.Type}.cshtml", field)
    }
</div>

@Html.Raw(Model.DataEntrySettingsContent.BodyHtml)
<script>
    @Model.DataEntrySettingsContent.JavaScript
</script>