@using N3O.Umbraco.Extensions
@using N3O.Umbraco.Templates
@model N3O.Umbraco.CrowdFunding.Models.FundraisingPage.CrowdfundingContentPageViewModel

@inject IPartialText PartialText

@{
PartialText.SetPartialName("DonationList");
}

<div class="donation__wrapper">
    <div class="donation">
        <div class="donation__head">
            <div class="donation__head-tab tabBtn active" data-tab="#tab-1">
                <h4>@PartialText.Get("Latest Donations")</h4>
            </div>
            <div class="donation__head-tab tabBtn" data-tab="#tab-2">
                <h4>
                    @PartialText.Get("Fundraisers")
                    <span> @Model.CampaignFundraisers.Count() </span>
                </h4>
            </div>
        </div>
        <div class="donation__list tabEvent active" id="tab-1">
            @if (!Model.PageDonations.HasAny()) {
            <div class="donation__empty">
                <h2>Looking For Supporters</h2>
                <div class="donation__empty-image">
                    <img src="../../images/empty-state.svg" alt="">
                </div>
                <p>@PartialText.Get("Will that be you? Be the first to donate!")</p>
            </div>
            } else {
            @foreach (var donation in Model.PageDonations.Take(10)) {
            <div class="donationItem">
                <div class="donationItem__avatar">
                    <img src="@donation.AvatarLink" alt=""/>
                </div>
                <div class="donationItem__row">
                    <div class="donationItem__name">
                        <div class="large">@(donation.IsAnonymous ? "Anonymous" : donation.Name)</div>
                    </div>
                    <div class="donationItem__info big">
                        <div class="subtle">
                            <b class="large"> @($"{@donation.Amount.Currency.Symbol}{@donation.Amount.Amount}") </b>
                            @*+ £5.00 gift aid*@
                        </div>
                        <div class="subtle">@donation.DonatedAt</div>
                    </div>
                </div>
            </div>
            }

            @if(Model.PageDonations.Count() > 10){
                <div class="donation__foot">
                    <button class="button secondary">
                        <svg>
                            <use xlink:href="#mailIcon"></use>
                        </svg>
                        @PartialText.Get("View All")
                    </button>
                </div>
            }
            }
        </div>

        <div class="donation__list fund tabEvent" id="tab-2">
            @if (!Model.CampaignFundraisers.HasAny()) {
            <div class="donation__empty">
                <h2>@PartialText.Get("Looking For Supporters")</h2>
                <div class="donation__empty-image">
                    <img src="../../images/empty-state.svg" alt="">
                </div>
                <p>@PartialText.Get("Will that be you? Be the first to donate!")</p>
            </div>
            } else {
            @foreach (var fundraiser in Model.CampaignFundraisers.Take(10)) {
            <div class="donationItem">
                <div class="donationItem__avatar">
                    <img src="@fundraiser.AvatarLink" alt=""/>
                </div>
                <div class="donationItem__row">
                    <div class="donationItem__name">
                        <div class="large">@fundraiser.Name</div>
                        <div class="subtle">@fundraiser.Role</div>
                    </div>
                    <div class="donationItem__info">
                        <div class="large">
                            <p>Raised</p>
                            <b> @($"{@fundraiser.RaisedAmount?.Currency.Symbol}{@fundraiser.RaisedAmount?.Amount}") </b>
                        </div>
                        <div class="subtle">
                            of
                            <b> @($"{@fundraiser.TargetAmount?.Currency.Symbol}{@fundraiser.TargetAmount?.Amount}") </b>
                        </div>
                    </div>
                </div>
            </div>
            }
            @if(Model.PageDonations.Count() > 10){
                <div class="donation__foot">
                    <button class="button secondary">
                        <svg>
                            <use xlink:href="#mailIcon"></use>
                        </svg>
                        @PartialText.Get("View All")
                    </button>
                </div>
            }
            }
        </div>
    </div>
</div>