@using Flurl

@model CreateFundraiserViewModel

@inject IFundStructureAccessor FundStructureAccessor
@inject IPartialText PartialText

@{
    var fundStructure = FundStructureAccessor.GetFundStructure();
    
    PartialText.SetPartialName("CrowdfundingCreateFundraiserPage");
}

<div class="n3o-setting__wrapper">
    <div class="n3o-setting">
        <div class="n3o-steps">
            <div class="n3o-steps__button tabBtn active" data-tab="#tab-1">
                <h4 class="n3o-h4">@PartialText.Get("Step 1")</h4>

                <div class="n3o-detail">@PartialText.Get("Select Project")</div>
            </div>

            <div class="n3o-steps__button tabBtn" data-tab="#tab-2">
                <h4 class="n3o-h4">@PartialText.Get("Step 2")</h4>

                <div class="n3o-detail">@PartialText.Get("About your page")</div>
            </div>
        </div>

        <div class="n3o-setting__body tabEvent active" id="tab-1">
            <h4 class="n3o-h4">@PartialText.Get("Select the project you would like to fundraise for")</h4>
            
            <div class="n3o-select__outer">
                <div class="n3o-select">
                    <div class="n3o-select__selected">@PartialText.Get("Select project")</div>

                    <input type="hidden" value="0"/>

                    <ul class="n3o-select__options">
                        <div class="n3o-select__search">

                            <svg>
                                <use xlink:href="#searchIcon"></use>
                            </svg>

                            <input type="text" id="goals-search" placeholder="@PartialText.Get("Type to search...")" onkeyup="n3o_cdf_filterList('goals-search', 'goal-selection')"/>
                        </div>

                        <div class="n3o-select__options-body" id="goal-selection">
                            @foreach (var goalOption in Model.Campaign.GoalOptions) {
                                <li data-id="@goalOption.Id" data-type="@goalOption.Type">
                                    @goalOption.Name
                                </li>
                            }
                        </div>
                    </ul>

                    <svg>
                        <use xlink:href="#chevron-bottom"></use>
                    </svg>
                </div>
                <div class="n3o-setting__tags" id="goal-option-tag"></div>
            </div>

            @foreach (var fundDimension in fundStructure.Dimensions) {
                <h4 class="n3o-h4" class="n3o-dimension-@fundDimension.Index" style="display: none;">@PartialText.Get("Select {0}").FormatWith(fundDimension.Name)</h4>
                
                <div class="n3o-select__outer dimension-@fundDimension.Index" style="display: none;" id="dimension-@fundDimension.Index">
                    <div class="n3o-select">
                        <div class="n3o-select__selected">@PartialText.Get("Select {0}").FormatWith(fundDimension.Name)</div>

                        <input type="hidden" value="" />

                        <ul class="n3o-select__options">
                            <div class="n3o-select__search">
                                <svg>
                                    <use xlink:href="#searchIcon"></use>
                                </svg>

                                <input type="text" id="goals-dimension-@fundDimension.Index" placeholder="@PartialText.Get("Type to search...")" onkeyup="n3o_cdf_filterList('goals-dimension-@fundDimension.Index', 'goal-selection-dimension-@fundDimension.Index')"/>
                            </div>

                            <div class="n3o-select__options-body" id="goal-selection-dimension-@fundDimension.Index"></div>
                        </ul>

                        <svg>
                            <use xlink:href="#chevron-bottom"></use>
                        </svg>
                    </div>
                </div>
            }
            
            <h4 class="n3o-h4" class="n3o-goal-fields" style="display: none">@PartialText.Get("I want to raise")</h4>

            <div class="n3o-cta__input active goal-fields" style="display: none">
                <label class="n3o-large" for="goal-amount">@Model.Campaign.Currency.Symbol</label>

                <input id="goal-amount" placeholder="100" type="number" 
                    @foreach (var item in Model.MinimumAmountValues) {
                        <text>@($"data-{item.Key}={item.Value.Amount}")</text>
                    }
                />
                
                <span id="multiple-of"></span>
                
                <div class="n3o-cta__input-select">
                    <select name="currency" id="goal-currency">
                        @foreach (var currency in Model.Currencies) {
                            <!option value="@currency.Id" data-symbol="@currency.Symbol" @if (currency == Model.Campaign.Currency) { <text>selected="selected"</text> }>@currency.Code</!option>
                        }
                    </select>
                </div>
            </div>

            <div id="goal-custom-fields"></div>

            <div class="n3o-checkout__message" id="errorMessage">
                <svg>
                    <use xlink:href="#alertIcon"></use>
                </svg>

                <p class="n3o-p n3o-detail"></p>
            </div>
            
            <a href="#" class="n3o-subtle">@PartialText.Get("Note: Minimum amount is")<span id="n3o_cdf-min-amount">@Model.Formatter.Number.FormatMoney(Model.MinimumAmountValues[Model.Campaign.Currency])</span></a>
            
            <button type="button" id="goal-next-tab" class="n3o-button primary" disabled>
                @PartialText.Get("Continue")
            </button>

        </div>

        <div class="n3o-setting__body tabEvent" id="tab-2">
            <label class="n3o-input__outer">
                <h4 class="n3o-h4">@PartialText.Get("Page Name")</h4>
                
                <div class="n3o-input big">
                    <input type="text" id="pageTitle" />
                </div>

                <p class="n3o-p n3o-subtle">@PartialText.Get("Choose a short, descriptive name for your page.")</p>
            </label>

            <label class="n3o-input__outer">
                <h4 class="n3o-h4">@PartialText.Get("Customise page URL")</h4>

                <div class="n3o-input big">
                    <input type="text" id="slug"/>
                </div>

                <a href="#" class="n3o-subtle">@Context.Request.Uri().ResetToRoot()/.../<span id="urlEnd"></span></a>
            </label>

            <div class="n3o-checkout__message" id="errorMessage2">
                <svg>
                    <use xlink:href="#alertIcon"></use>
                </svg>

                <p class="n3o-p n3o-detail"></p>
            </div>

            <button type="submit" disabled id="create-page-btn" class="n3o-button primary submit2">@PartialText.Get("Continue")</button>
        </div>
    </div>
</div>
