@model SearchFundraisersViewModel

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingSearchFundraisersPage");
}

<section class="n3o-explore">
    <div class="auto__container">
        <div class="n3o-explore__inner">
            <div class="n3o-explore__inner-title">
                <h2 class="n3o-h2">
                    @if (Model.SearchTerm.HasValue()) {
                        <text>@PartialText.Get("Search Results for {0}").FormatWith(Model.SearchTerm)</text>
                    } else {
                        <text>@PartialText.Get("Search Results")</text>
                    }
                </h2>
                
                <div class="n3o-explore__inner-side">
                    <div class="n3o-sort">
                        <div class="n3o-sort__selected">
                            <span>
                                <img src="/assets/images/icons/sort.svg" alt="" />
                            </span>
                            <p class="n3o-p">@PartialText.Get("Newest First") <b>@PartialText.Get("Newest First")</b></p>
                            <span>
                                <img src="/assets/images/icons/chevron-bottom.svg" alt="" />
                            </span>
                        </div>
                        
                        <input type="hidden" value="0" />
                        
                        <ul class="n3o-sort__options">
                            <li data-value="1">@PartialText.Get("Newest First")</li>
                            <li data-value="2">@PartialText.Get("Oldest First")</li>
                        </ul>
                    </div>
                    
                    <div class="n3o-search big">
                        <div class="n3o-search__icon">
                            <img src="/assets/images/icons/search-dark.svg" alt="" />
                        </div>
                        
                        <input type="search" name="text" value="@Model.SearchTerm">
                    </div>
                </div>
            </div>
            
            <div class="n3o-explore__inner-main">
                <div class="n3o-filter">
                    @foreach (var tag in Model.ActiveTags) {
                        <a class="n3o-filterItem" style="display: block; text-decoration: none; color: inherit;" href="@tag.Url">
                            <span>@tag.Name</span>
                        </a>
                    }
                </div>
                
                <div class="n3o-explore__inner-wrapper">
                    <div class="n3o-spotlight__inner-row">
                        @foreach (var card in Model.Results) {
                            @Html.CrowdfundingPartial("~/Views/Partials/Crowdfunding/Shared/Elements/Cards/CrowdfunderTallCard.cshtml", card)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>