@using N3O.Umbraco.Context
@inherits UmbracoViewPage<IPageViewModel>

@inject ICurrencyAccessor CurrencyAccessor;
@inject ITemplateText TemplateText;

@{
    Layout = null;

    TemplateText.SetTemplateName("Layout");

    var currency = CurrencyAccessor.GetCurrency();
}

@if (Model.Content is IPage content) {
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>@content.TitleMeta.Title</title>
        
        @if (content.TitleMeta.Description.HasValue()) {
            <meta name="description" content="@content.TitleMeta.Description">
        }

        @if (content.HidePage) {
            <meta name="robots" content="noindex">
        }

        <link rel="canonical" href="@content.AbsoluteUrl()">
        
        <n3o-crowdfunding-css />

        <n3o-css-bundle />
        
        <n3o-google-analytics-4 model="@Model"></n3o-google-analytics-4>
        <n3o-google-tag-manager model="@Model" render="head"></n3o-google-tag-manager>
        
        <n3o-structured-data model="@Model" />
        <n3o-open-graph model="@Model" />

        <script>
            window.themeConfig = window.themeConfig || { };
            window.themeConfig.text = { };
            window.themeConfig.formatter = {
                dateTime: {
                    format: function(date) {
                        new Intl.DateTimeFormat('@Formatter.CultureCode').format(date);
                    }
                },
                number: {
                    format: function (number) {
                        new Intl.NumberFormat('@Formatter.CultureCode').format(number);
                    },
                    formatMoney: function (amount, currency) {
                        new Intl.NumberFormat('@Formatter.CultureCode', { style: 'currency', currency: currency ?? '@currency.Code' }).format(amount);
                    }
                }
            };
        </script>
    </head>

    <body>
        <n3o-data-layer model="@Model" />

        <main>
            <h1>@TemplateText.Get("Hello World!")</h1>
 
            @RenderBody()
        </main>

        <n3o-google-tag-manager model="@Model" render="body"></n3o-google-tag-manager>

        <n3o-page-info model="@Model" />
        <n3o-js-bundle />
    </body>
    </html>
}
