@model ViewEditFundraiserViewModel

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("ViewEditFundraiserPageBanner");
}

<div class="auto__container" style="background: #FEF9C3; max-width: none;">

    @if (Model.Content.Status == CrowdfunderStatuses.Ended) {
        <div class="n3o-header__inner" style="justify-content: center">
            @PartialText.Get("This fundraiser has ended and can no longer be modified.")
        </div>
    } else {
        <div class="n3o-header__inner">
            <div class="n3o-header__inner-side" style="max-width: 1280px; display: flex; margin: auto; justify-content: space-between;width: 100%;">
                <div style="font-size: large;font-weight: 600;">
                    @PartialText.Get("You are in edit mode")

                    <button class="n3o-banner-view-page">@PartialText.Get("View Page")</button>
                </div>

                @if (Model.HasUnallocatedFunds) {
                    <div class="n3o-fprogress" style="display: flex;gap: 12px;align-items: center;padding: 6px 6px 6px 12px;border: solid 1px #00000020;">
                        <p class="n3o-p">@PartialText.Get("You've exceeded your fundraising goal! Please tell us how you'd like the extra money you've raised spent.")</p>
                        <button id="n3o-unallocated-resolve" type="button" class="n3o-button primary" style="padding: 4px 8px;">
                            @PartialText.Get("Resolve")
                        </button>
                    </div>
                } else if (Model.Content.Status.CanToggle && Model.Content.Status.ToggleAction == CrowdfunderActivationActions.Activate) {
                    <button id="n3o-btn-banner-activate" type="button" class="n3o-button primary" style="padding: 4px 8px;">
                        @PartialText.Get("Activate")
                    </button>
                } else if (Model.Content.Status.CanToggle && Model.Content.Status.ToggleAction == CrowdfunderActivationActions.Deactivate) {
                    <button @if (!Model.HasPendingGoalsWithPricing) { <text>id="n3o-btn-banner-deactivate"</text> } else { <text>data-mod="#banner-modal"</text> }
                            type="button" class="n3o-button primary" style="padding: 4px 8px;">
                        @PartialText.Get("Deactivate")
                    </button>
                }
            </div>
        </div>
    }
</div>

@if (true) {
    var id = "viewEditFundraiserPageBanner";
    var title = PartialText.Get("Unable to deactivate");
    var description = PartialText.Get("As your page contains one or more special projects, please contact us for assistance closing your fundraiser");

    @Html.CrowdfundingPartial("~/Views/Partials/Crowdfunding/Shared/Modals/MessageModal.cshtml", (id, title, description))
}