@using Microsoft.AspNetCore.Mvc.TagHelpers
@using N3O.Umbraco.Accounts.Models
@using N3O.Umbraco.CrowdFunding.Extensions
@model (N3O.Umbraco.Accounts.Models.FieldSettings FieldSettings, object Data)

@{
var selectFieldSettings = (SelectFieldSettings) Model.FieldSettings;
}

<div class="input sel">
    <h4>@Html.Raw(selectFieldSettings.Required ? $"{selectFieldSettings.Label} <span> *</span>" : $"{selectFieldSettings.Label}")</h4>

    <div class="input">
        <select name="@selectFieldSettings.Path" placeholder="@selectFieldSettings.Label" style="width: 100%">

            @foreach (var option in selectFieldSettings.Options) {
            if (Model.Data.ResolvePathValue(selectFieldSettings.Path) != null) {
            if (selectFieldSettings.Path.Contains("country")) {
            <option value="@option.Value" selected="@(option.Value.Equals(Model.Data.ResolvePathValue(selectFieldSettings.Path + ".Iso2Code")))">@option.Text</option>
            } else {
            <option value="@option.Value" selected="@(option.Value.Equals(Model.Data.ResolvePathValue(selectFieldSettings.Path)))">@option.Text</option>
            }
            } else {
            if (option == selectFieldSettings.DefaultOption) {
            <option selected value="@option.Value">@option.Text</option>
            } else {
            <option value="@option.Value">@option.Text</option>
            }
            }
            }
        </select>
    </div>
    <span id ="@selectFieldSettings.Path" class="input-validation-error"></span>
</div>