@model (N3O.Umbraco.Accounts.Models.FieldSettings FieldSettings, object Data)

    <div class="input__outer">
            <h4>@Html.Raw(Model.FieldSettings.Required ? $"{Model.FieldSettings.Label} <span> *</span>" : $"{Model.FieldSettings.Label}")</h4>
            <div class="input">
                <input type="@Model.FieldSettings.Type"
                       name="@Model.FieldSettings.Path"
                       placeholder="@Model.FieldSettings.Label"
                       value="@Model.Data.ResolvePathValue(Model.FieldSettings.Path)"/>
                <span id ="@Model.FieldSettings.Path" class="input-validation-error"></span>
            </div>
    </div>