@using N3O.Umbraco.Extensions
@using N3O.Umbraco.Templates
@model N3O.Umbraco.CrowdFunding.Models.FundraiserViewModel

@inject IPartialText PartialText

@{
PartialText.SetPartialName("DonationList");
}

<div class="donation__wrapper">
    <div class="donation">
        <div class="donation__head">
            <div class="donation__head-tab tabBtn active" data-tab="#tab-1">
                <h4>@PartialText.Get("Latest Donations")</h4>
            </div>
        </div>
        <div class="donation__list tabEvent active" id="tab-1">
            @if (!Model.Contributions.HasAny()) {
            <div class="donation__empty">
                <h2>Looking For Supporters</h2>
                <div class="donation__empty-image">
                    <img src="../../images/empty-state.svg" alt="">
                </div>
                <p>@PartialText.Get("Will that be you? Be the first to donate!")</p>
            </div>
            } else {
            @foreach (var donation in Model.Contributions.Take(10)) {
            <div class="donationItem">
                <div class="donationItem__avatar">
                    <img src="@donation.AvatarLink" alt=""/>
                </div>
                <div class="donationItem__row">
                    <div class="donationItem__name">
                        <div class="large">@(donation.IsAnonymous ? "Anonymous" : donation.Name)</div>
                    </div>
                    <div class="donationItem__info big">
                        <div class="subtle">
                            <b class="large"> @($"{@donation.Amount.Currency.Symbol}{@donation.Amount.Amount}") </b>
                            @*+ £5.00 gift aid*@
                        </div>
                        <div class="subtle">@donation.DonatedAt</div>
                    </div>
                </div>
            </div>
            }

            @if(Model.Contributions.Count() > 10){
            <div class="donation__foot">
                <button class="button secondary">
                    <svg>
                        <use xlink:href="#mailIcon"></use>
                    </svg>
                    @PartialText.Get("View All")
                </button>
            </div>
            }
            }
        </div>
    </div>
</div>