@model ICrowdfunderViewModel

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingCrowdfunderAllContributionsModal");
}

<div class="n3o-modalsItem modall" id="all-donations">
    <div class="n3o-donation">
        <div class="n3o-donation__close modallClose" data-modal="all-donations"></div>

        <div class="n3o-donation__title">
            <h2 class="n3o-h2">
                @PartialText.Get("Donations")

                <span>@Model.Contributions.Count()</span>
            </h2>
        </div>

        <div class="n3o-donation__list mod active">
            @foreach (var contribution in Model.Contributions) {
                <div class="n3o-donationItem">
                    <div class="n3o-donationItem__avatar">
                        <img src="@contribution.AvatarLink" alt=""/>
                    </div>
                    
                    <div class="n3o-donationItem__row">
                        <div class="n3o-donationItem__name">
                            <div class="n3o-large">@contribution.Name</div>
                            <div class="n3o-subtle">@contribution.Comment</div>
                        </div>
                        
                        <div class="n3o-donationItem__info">
                            <b class="n3o-large"> @Model.Formatter.Number.FormatMoney(contribution.Value)</b>
                            
                            <div class="n3o-subtle">@contribution.DonatedAt</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>