@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingDonationSummaryModal");
}

<div class="n3o-modalsItem modall" id="donationSummary-modal">
    <div class="n3o-cta">
        <div class="n3o-cta__title start">
            <h2 class="n3o-h2">@PartialText.Get("Donation Summary")</h2>
            
            <p class="n3o-p">@PartialText.Get("Here’s the detail of your donation:")</p>
        </div>

        <label class="n3o-input__outer">
            <div class="n3o-small">@PartialText.Get("Your message (optional)")</div>
            
            <div class="n3o-input big">
                <textarea rows="3" placeholder="@PartialText.Get("Type your message here")" id="donors-comment"></textarea>
            </div>
            
            <p class="n3o-p n3o-subtle">
                @PartialText.Get("Your message will be displayed alongside your donation on the fundraising page.")
            </p>
        </label>
        
        <label class="n3o-check">
            <div class="n3o-check__box">
                <input type="checkbox" id="donor-is-anonymous"/>
                <span></span>
            </div>
            
            <p class="n3o-p n3o-small">@PartialText.Get("Hide my name")</p>
        </label>
        
        <div class="n3o-cta__foot">
            <button type="button" class="n3o-button primary" id="add-donation-to-cart">
                @PartialText.Get("Add to Basket")
            </button>
        </div>
    </div>
</div>