@model (string Id, string Title, string Description)

@inject IPartialText PartialText

@{
    PartialText.SetPartialName("MessageModal");
}

<div class="n3o-modalsItem modall" id="@Model.Id">
    <div class="n3o-share">
        <h2 class="n3o-h2">@PartialText.Get(Model.Title)</h2>

        <p class="n3o-p n3o-detail">
            @PartialText.Get(Model.Description)
        </p>

        <button type="button" class="n3o-button secondary modallClose" data-modal="@Model.Id">@PartialText.Get("Close")</button>
    </div>
</div>