@using N3O.Umbraco.Accounts.Extensions

@model AccountsViewModel

@inject IFormatter Formatter
@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingPickAccountModal");
}

<div class="n3o-modalsItem modall" id="pickAccount-modal">
    <div class="n3o-sign__wrapper" style="margin: auto; width: 90vw">
        <div class="n3o-sign">
            <div class="n3o-sign__title">
                <div class="n3o-signWarn">
                    <p class="n3o-p">
                        @PartialText.Get("Your email {0} is associated with multiple accounts in our system.").FormatWith(Model.Email)
                    </p>
                </div>

                <p class="n3o-p">
                    @PartialText.Get("Please select which account you wish to use.")
                </p>
            </div>

            @foreach (var account in Model.Available) {
                <a href="#" class="n3o-signItem account-select" data-account='@(Json.Serialize(account))'>
                    <div class="n3o-signItem__col">
                        <p class="n3o-p">@Formatter.Text.ToDisplayName(account.Individual.Name)</p>
                        <div class="n3o-detail">
                            @account.Address?.Line1<br/>
                            @account.Address?.PostalCode <br/>
                            @account.Address?.Country?.Iso2Code
                        </div>
                    </div>
                    <div class="n3o-signItem__col">
                        <div class="n3o-detail">Reference No. @account.Reference</div>
                    </div>
                    <span>
                        <img src="/assets/images/icons/arrow-right.svg" alt=""/>
                    </span>
                </a>
            }
        </div>
    </div>
</div>

<script>
    const accountSelectors = document.querySelectorAll('.account-select');

    document.querySelectorAll('.account-select').forEach(function (elm) {
        elm.addEventListener('click', async (e) => {
            e.preventDefault();

            pickAccount(JSON.parse(elm.dataset.account));
        })
    })

    function pickAccount(account) {
        let currentUrl = new URL(window.location);
        const params = new URLSearchParams(window.location.search);
        params.append('account', account.id.value)
        currentUrl.search = params.toString();

        window.location = currentUrl;
    }
</script>