@using N3O.Umbraco.Accounts.Extensions

@model AccountsViewModel

@inject IFormatter Formatter
@inject IPartialText PartialText

@{
    PartialText.SetPartialName("CrowdfundingPickAccountModal");
}

<div class="modalsItem modall" id="pickAccount-modal">
    <div class="sign__wrapper" style="margin: auto; width: 90vw">
        <div class="sign">
            <div class="sign__title">
                <div class="signWarn">
                    <p>
                        @PartialText.Get("Your email {0} is associated with multiple accounts in our system.").FormatWith(Model.Email)
                    </p>
                </div>

                <p>
                    @PartialText.Get("Please select which account you wish to use.")
                </p>
            </div>

            @foreach (var account in Model.Available) {
                <a href="#" class="signItem account-select" data-account='@(Json.Serialize(account))'>
                    <div class="signItem__col">
                        <p>@Formatter.Text.ToDisplayName(account.Individual.Name)</p>
                        <div class="detail">
                            @account.Address?.Line1<br/>
                            @account.Address?.PostalCode <br/>
                            @account.Address?.Country?.Iso2Code
                        </div>
                    </div>
                    <div class="signItem__col">
                        <div class="detail">Reference No. @account.Reference</div>
                    </div>
                    <span>
                        <img src="/assets/images/icons/arrow-right.svg" alt=""/>
                    </span>
                </a>
            }
        </div>
    </div>
</div>

<script>
    const accountSelectors = document.querySelectorAll('.account-select');

    document.querySelectorAll('.account-select').forEach(function (elm) {
        elm.addEventListener('click', async (e) => {
            e.preventDefault();

            pickAccount(JSON.parse(elm.dataset.account));
        })
    })

    function pickAccount(account) {
        let currentUrl = window.location.href;
        currentUrl += currentUrl.indexOf("?") === -1 ? "?" : "&";
        currentUrl  += `account=${account.id}`;
        
        window.location.href = currentUrl;
    }
</script>