@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Extensions

@model N3O.Umbraco.Crowdfunding.Models.SignInViewModel

@{
    var externalSignInError = ViewData.GetExternalSignInProviderErrors();
}

<div class="n3o-modalsItem modall" id="signIn-modal">
    <div class="n3o-onboard">
        <div class="n3o-onboard__content">
            <h2 class="n3o-h2">
                @Model.Settings.Title
            </h2>

            @foreach (var item in Model.Settings.Items) {
                <div class="n3o-onboardItem">
                    <div class="n3o-onboardItem__icon">
                        <img src="@item.Icon.Src" alt=""/>
                    </div>
                    
                    <div class="n3o-onboardItem__text">
                        <p class="n3o-p">
                            <b>@item.Title</b><br/>
                            @item.Text
                        </p>
                    </div>
                </div>
            }
        </div>
        
        <div class="n3o-onboard__side">
            <div class="n3o-onboard__title">
                <div class="n3o-onboard__logo">
                    <img src="@Model.Settings.LogoSvg.Src" alt="@Model.Settings.LogoText"/>
                </div>
                
                <h4 class="n3o-h4">@Model.Settings.LogoText</h4>
            </div>
            
            <div class="n3o-onboard__foot">
                <p class="n3o-p">
                    @Model.Settings.AboveButtonText
                </p>

                @if (externalSignInError.HasAny(x => x.Errors)) {
                    @Html.DisplayFor(x => externalSignInError.Errors)
                }

                @using (Html.BeginUmbracoForm<UmbExternalLoginController>(nameof(UmbExternalLoginController.ExternalLogin))) {
                    <button type="submit" name="provider" class="n3o-button primary" value="@Model.LoginProvider.ExternalLoginProvider.AuthenticationType">
                        @Model.Settings.ButtonLabel
                    </button>
                }
            </div>
        </div>
    </div>
</div>